@model Portfolio_Core.Areas.Writer.Models.UserRegisterViewModel
@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">

<head>
    <title>Kayıt Sayfası</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link href="https://fonts.googleapis.com/css?family=Lato:300,400,700,900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="~/loginv07/css/style.css" rel="stylesheet" />
</head>

<body>
    <section class="ftco-section">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-md-12 col-lg-5">
                    <div class="w-100 d-flex align-items-center mb-4">
                        <a class="btn btn-outline-danger" href="/Writer/Login/Index/" style="display: inline-flex; align-items: center; padding: 5px; font-size: 12px;">
                            <i class="fa fa-arrow-left fa-lg mr-2"></i> Geri
                        </a>
                        <h3 class="mb-0 ml-3" style="text-align: center;">Kayıt Ol</h3>
                    </div>

                    <form action="#" class="signin-form" method="post">
                        <div class="form-group mb-3">
                            <label class="label" for="name">Adınız</label>
                            <input type="text" asp-for="Name" class="form-control" />
                            <span asp-validation-for="Name" class="text-danger"></span>
                        </div>
                        <div class="form-group mb-3">
                            <label class="label" for="name">Soyadınız</label>
                            <input type="text" asp-for="Surname" class="form-control" />
                            <span asp-validation-for="Surname" class="text-danger"></span>
                        </div>
                        <div class="form-group mb-3">
                            <label class="label" for="name">Görsel URL</label>
                            <input type="text" asp-for="ImageUrl" class="form-control" />
                            <span asp-validation-for="ImageUrl" class="text-danger"></span>
                        </div>
                        <div class="form-group mb-3">
                            <label class="label" for="name">Şifreniz</label>
                            <input type="text" asp-for="Password" class="form-control" />
                            <span asp-validation-for="Password" class="text-danger"></span>
                        </div>
                        <div class="form-group mb-3">
                            <label class="label" for="name">Şifre Tekrar</label>
                            <input type="text" asp-for="ConfirmPassword" class="form-control" />
                            <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
                        </div>
                        <div class="form-group mb-3">
                            <label class="label" for="name">Kullanıcı Adı</label>
                            <input type="text" asp-for="UserName" class="form-control" />
                            <span asp-validation-for="UserName" class="text-danger"></span>
                        </div>
                        <div class="form-group mb-3">
                            <label class="label" for="name">Mail Adresi</label>
                            <input type="text" asp-for="Mail" class="form-control" />
                            <span asp-validation-for="Mail" class="text-danger"></span>
                        </div>

                        <div class="form-group">
                            <button type="submit" class="form-control btn btn-primary submit px-3">Kayıt Ol</button>
                        </div>


                    </form>

                </div>
            </div>
        </div>
    </section>

    <script src="~/loginV07/js/jquery.min.js"></script>
    <script src="~/loginV07/js/popper.js"></script>
    <script src="~/loginV07/js/bootstrap.min.js"></script>
    <script src="~/loginV07/js/main.js"></script>

</body>
</html>
<script>
    function goBack() {
        window.history.back();
    }
</script>






