
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h1>Index</h1>

<table class="table table-bordered">
    <tr>
        <td>#</td>
        <td>Başlık</td>
        <td>Oran</td>
        <td>Sil</td>
        <td>Düzenle</td>
    </tr>
</table>