@model EntityLayer.Concrete.Service
@{
    ViewData["Title"] = "EditService";
    Layout = "~/Views/Shared/_NewAdminLayout.cshtml";
}

<div class="card-header border-0">
    <h3 class="mb-0">Edit Serive List</h3>
</div>
@using (Html.BeginForm("EditService", "Service", FormMethod.Post))
{
    <div class="col-12 grid-margin stretch-card">
        <div class="card">
            <div class="card-body">
                <p class="card-description"> Edit Service Panel </p>
                <form class="forms-sample">
                    @Html.HiddenFor(x => x.ServiceID)
                    <br />
                    @Html.Label("Service Title")
                    @Html.TextBoxFor(x => x.Title, new { @class = "form-control" })
                    <br />
                    <label>Image URL</label>
                    @Html.TextBoxFor(x => x.ImageUrl, new { @class = "form-control" })
                    <br />
                    <button class="btn btn-outline-success">Update</button>
                    <button class="btn btn-dark">Cancel</button>
                </form>
            </div>
        </div>
    </div>
}

