@model Portfolio_Core.Areas.Writer.Models.UserLoginViewModel

@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">

<head>
    <title>Giriş Sayfası</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link href="https://fonts.googleapis.com/css?family=Lato:300,400,700,900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="~/loginv07/css/style.css" rel="stylesheet" />
</head>

<body>
    <section class="ftco-section">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-md-6 text-center mb-5">
                    <h2 class="heading-section">Hoş geldiniz!</h2>
                </div>
            </div>
            <div class="row justify-content-center">
                <div class="col-md-12 col-lg-10">
                    <div class="wrap d-md-flex">
                        <div class="text-wrap p-4 p-lg-5 text-center d-flex align-items-center order-md-last">
                            <div class="text w-100">
                                <h2>Oturum açmaya hoş geldiniz</h2>
                                <p>Hesabınız yok mu?</p>
                                <a href="/Writer/Register/Index/" class="btn btn-white btn-outline-white">Kayıt Ol</a>
                            </div>
                        </div>
                        <div class="login-wrap p-4 p-lg-5">
                            <div class="d-flex">
                                <div class="w-100">
                                    <h3 class="mb-4">Giris Yap</h3>
                                </div>
                            </div>

                            <form action="#" class="signin-form" method="post">
                                <div class="form-group mb-3">
                                    <label class="label" for="name">Kullanıcı Adı</label>
                                    <input type="text" class="form-control form-control-lg" id="exampleInputEmail1" name="Username" placeholder="Kullanıcı adınız">
                                </div>
                                <div class="form-group mb-3">
                                    <label class="label" for="password">Sifre</label>
                                    <input type="password" class="form-control form-control-lg" id="exampleInputPassword1" name="Password" placeholder="Şifreniz" required>
                                </div>
                                <div class="form-group">
                                    <button type="submit" class="form-control btn btn-primary submit px-3">Giriş Yap</button>
                                </div>
                                <div class="form-group d-md-flex">
                                    <div class="w-50 text-left">
                                        <label class="checkbox-wrap checkbox-primary mb-0">
                                            Beni Hatırla
                                            <input type="checkbox" checked>
                                            <span class="checkmark"></span>
                                        </label>
                                    </div>
                                    <div class="w-50 text-md-right">
                                        <a href="#">Şifremi Unuttum</a>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <script src="~/loginV07/js/jquery.min.js"></script>
    <script src="~/loginV07/js/popper.js"></script>
    <script src="~/loginV07/js/bootstrap.min.js"></script>
    <script src="~/loginV07/js/main.js"></script>

</body>
</html>







